/* 全体プロジェクトセクション */
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: #0B556E;
  text-align: left;
  font-size: 20px;
}

.projectsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  border-radius: 20px;
  text-align: left;
}



/* カードコンテナ */
.cardsContainerProject {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 左寄せ */
  margin: 0 auto;
  gap: 20px;
}

/* フッター余白 */
.footerSpacer {
  height: 4rem;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }

  .projectsBox {
    width: 95%;
    padding: 16px;
    gap: 12px;
  }

  .cardsContainerProject {
    width: 100%;
    justify-content: center;
    gap: 16px;
  }
}
