


.title{
    font-size: 24px;
    font-weight: bold;
    
}

.projects{
  width: 100vw;
  display: flex;
  text-align: left;
  justify-content: center; /* 中央揃え */
  /* margin-bottom: 50px; */
  color: #0B556E;
  font-size: 20px;
  margin-top: 30px;
}
.projectsBox {
  width: 100%;
  gap: 20px;
  /* background-color: #FFFFFF; */
  border-radius: 20px;
  padding: 60px;
  /* box-shadow: var(--white-box-shadow); */

  display: flex;
  flex-direction: column;
  /* align-items: center; ← これを追加！！中央配置に必要 */
  text-align: left;
  /* justify-content: center; */
}

.cardsContainer {
  width: 100%; /* または fit-content */
  display: flex;
  /* gap: 40px; */
  justify-content: center;
  margin-top: 0px;
  /* margin-bottom: 60px; */
}
.cardsContainerProject{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}



.teams{
  width: 100vw;
  display: flex;
  text-align: left;
  justify-content: center; /* 中央揃え */
  margin-bottom: 200px;
  color: #0B556E;
  font-size: 20px;
  align-items: center;
}
.teamsBox{
  width: 100%;
  /* gap: 20px; */
  /* background-color: #FFFFFF; */
  border-radius: 20px;
  padding: 60px;
  /* box-shadow: var(--white-box-shadow); */

  display: flex;
  flex-direction: column;
  /* align-items: center; ← これを追加！！中央配置に必要 */
  text-align: left;
  /* justify-content: center; */

}


.breadcrumb{
  margin-left: 150px;
}
.breadcrumbLinkSmall{
    /* color: var(--accent-color-blue); */
    color: var(--red-orange);

    font-family: "Noto Sans JP";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.breadcrumbLinkSmall:hover{
    text-decoration-line: underline;
}
.breadcrumbLinkArrow{
    /* color: var(--accent-color-blue); */
    color: var(--red-orange);

    font-family: "Noto Sans JP";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbLinkBig{
    /* color: var(--accent-color-blue); */
    color: var(--red-orange);

    font-family: "Noto Sans JP";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.breadcrumbLinkBig:hover{
    text-decoration-line: underline;

}

.bigTitleTeams{
    color: var(--red-orange);
    font-family: "Noto Sans JP";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 150px;
    margin-bottom: 30px;
}

.cardsContainerTeams{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
}