.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2.5px solid var(--accent-color-blue);
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 322px;
  height: 327px;
  text-decoration: none;
  color: inherit;
  margin: 5px;
}


.card:hover{
    background-color: var(--accent-color-blue);
    .card-abstract{
    color: #FFFFFF;
    }
}

.card:active{
  background-color: var(--sub-color-skyblue);
    .card-abstract{
    color: #FFFFFF;
    }
}

.card-padding{
  padding: 20px;
}

.card-tags {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.tag {
  background: none;
  color: orange;
  /* padding: 4px 8px; */
  border-radius: 4px;
  font-size: 15px;
}

.card-title {
  width: 100%;
  margin-top: 8px;
  font-size: 16px;
  word-wrap: break-word; 
  text-decoration: underline;
}

.card-abstract {
  color: #000;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ArrowBox{
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 20px;
  bottom: 20px;  
}

.Arrow {
  transition: 0.2s ease;
}

.card:hover .Arrow,
.card:active .Arrow {
  content: url("/ArrowWhite.svg");
}