
  
footer {
  /* background-color:#E18300; */
  background-color: var(--red-orange);
  width: 100%;
  height: 208px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top:40px;
  padding-bottom: 44px;
  align-items: center;     /* 縦方向中央揃え */
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column1 {
  display: flex;
  justify-content: center;
}
.links {
  color: white;
  padding: 10px;
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 100;
}
.links a:hover {
  text-decoration: underline;
  gap: 1%;
}
.links-sns {
  display: flex;
  justify-content: end;
  gap: 28px;
}
.address {
  color: rgba(255, 255, 255, 0.80);
  font-size: 14px;
  display: flex;
  justify-content: start;
  padding-left: 20px;
}

