footer {
  border-top: 1px solid #f0932e;
  padding: 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column1 {
  display: flex;
  justify-content: center;
}
.links {
  color: black;
  padding: 10px;
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: center;
  font-size: 20px;
}
.links a:hover {
  text-decoration: underline;
  gap: 1%;
}
.links-sns {
  display: flex;
  justify-content: end;
  gap: 24px;
}
.address {
  color: #6b6b6b;
  font-size: 20px;
  display: flex;
  justify-content: start;
}
