.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2.5px solid var(--accent-color-blue);
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 322px;
  height: auto;
  text-decoration: none;
  color: inherit;
  margin: 5px;
}

.card:hover {
  background-color: var(--accent-color-blue);
}
.card:hover .card-abstract,
.card:hover .pm-name {
  color: #FFFFFF;
}

.card:active {
  background-color: var(--sub-color-skyblue);
}
.card:active .card-abstract,
.card:active .pm-name {
  color: #FFFFFF;
}

.card-padding {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-abstract {
  font-size: 15px;
  margin-bottom: 16px;
}

.section-title {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.card-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  /* color: orange; */
  color: black;
  font-size: 15px;
}

.pm-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pm-name {
  font-size: 15px;
}

.ArrowBox {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.Arrow {
  transition: 0.2s ease;
}

.card:hover .Arrow,
.card:active .Arrow {
  content: url("/ArrowWhite.svg");
}


.tech-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.section-title {
  margin: 0;
  font-size: 14px;
}

.card-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  color: orange;
  font-size: 15px;
}

.pm-inline {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.section-title {
  margin: 0;
  font-size: 14px;
}

.pm-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pm-icon {
  border-radius: 50%;
}

.pm-name {
  font-size: 15px;
}