@import "tailwindcss";



:root {
  --background: #FFF9F0;
  /* --background:#FFFFFF; */
  --sub-color-skyblue: #54C2D1;
  --accent-color-blue: #00749B;
  --red-orange:#FE7222;
  --yellow-orange:#FFB808;
  --white-box-shadow:0 4px 20px 0 rgba(240, 147, 46, 0.20);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}




/* globals.css */
.hide-on-mobile {
  display: block;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

body, html {
  overflow-x: hidden;
}