/* Home.module.css */

.aboutUs {
    margin: 0 auto;
    z-index: 1;  /* 他の要素より手前に表示 */
    position: relative;  /* z-indexが効くようにpositionをrelativeに設定 */
    color: black;
    text-align: center;  /* 文字を中央に配置 */
    margin-bottom: 100px;  /* ボトムバー分 */
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center;     /* 横方向中央 */
    width: 100%;
  }

.title{
    font-size: 24px;
    font-weight: bold;
}
  
.slide {
  margin: 0;
  width: 100vw;
  display: flex; /* Flexboxを使用 */
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  /* height: 100vh; ビューポートの高さを確保 */
}

.blogs{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* 中央揃え */
  align-items: center; /* 縦方向の中央揃え（必要なら） */
  width: 100vw; /* 全幅 */
  height: 1000px;
  background-color: white;
}

.title{
  margin:20px;
  font-size: 30px;
}

.blogBox{
  width: 60vw;
  justify-content: center; /* 中央揃え */
  text-align: right;
}
.cardContainer {
  margin: 0 auto; /* 左右の余白を自動にして中央寄せ */
  width: 60vw;
  display: flex;
  justify-content:space-between; /* 子要素（カード）を中央寄せ */
}

.button{
  padding: 8px;
  border-radius: 3px;
  /* border: 1px solid black; */
  margin: 5px;
  margin-top: 10px;
  background-color: orange;
  color: white;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 軽く影をつける */

}
.button:hover {
  background-color: #ff9500; /* 濃いオレンジに変化 */
  transform: scale(1.05); /* 少し拡大 */
  cursor: pointer; /* クリックできることを強調 */
}
.button:active {
  background-color: #ff9500; /* さらに濃いオレンジ */
  transform: scale(0.95); /* 押したときに少し縮小 */
}
